<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>skula.wBlock.FilterUpdateAgent</string>
	<key>AssociatedBundleIdentifiers</key>
	<array>
		<string>skula.wBlock</string>
	</array>
	<key>BundleProgram</key>
	<string>Contents/MacOS/FilterUpdateAgent</string>
	<key>ProcessType</key>
	<string>Background</string>
	<key>RunAtLoad</key>
	<true/>
	<key>StartInterval</key>
	<integer>900</integer>
</dict>
</plist>
