<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>wBlock 3</string>
	<key>CFBundleName</key>
	<string>wBlock 3</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.Safari.content-blocker</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).ContentBlockerRequestHandler</string>
	</dict>
	<key>NSHumanReadableDescription</key>
	<string>Protects against malware, phishing, and other security threats. Also blocks multipurpose filters and annoying web elements like cookie notices and popups.</string>
</dict>
</plist>
